@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/functions";

$custom-file-text: (
        en: "Browse",
        ru: "Открыть"
);

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/_bootswatch";

.header {
  &__description {
    @extend h4;
    padding-left: 20px;
    padding-top: 12px;
  }
}

.file {
  &__input {
    max-width: 400px;
  }
}

.file-loading {
  margin-top: 10px;
}

.game {
  &__header {
    padding: 10px 0;
    display: flex;
  }

  .game-header {
    display: none;

    &__child {
      margin-right: 20px;
    }
  }
}

.game-content {
  &__tabs {
    display: none;
  }
}

.question-cell {
  position: relative;
  cursor: pointer;

  &_star::after {
    content: '*';
    position: absolute;
    top: 4px;
    right: 4px;
  }

  &:hover {
    background-color: $gray-300;
  }
}

.question-type {
  padding: 10px 0;
}

.answer {
  padding: 10px 0;
}

.spoiler {
  opacity: 0.0;

  &:hover {
    opacity: 1.0;
  }
}
